<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>Contacts</ion-title>
    <ion-buttons collapse="true" slot="end">
      <ion-button color="primary" (click)="newContact()">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">Contacts</ion-title>
      <ion-buttons collapse="true" slot="end">
        <ion-button color="primary" (click)="newContact()">
          <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-accordion-group>
    <ion-accordion *ngFor="let contact of contacts | async">
      <ion-item slot="header" color="light">
        <ion-label>{{ contact.name }} {{ contact.lastName }} </ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list>
          <ion-item>
            <ion-avatar slot="start">
              <img
                alt="Contact Profile"
                src="{{ contact.imageUrl }}"
              />
            </ion-avatar>
            <ion-label (click)="editContact(contact.id)">{{ contact.name }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>{{ contact.phone }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>{{ contact.email }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>{{ contact.category }}</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
