<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>New Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-thumbnail class="user-image">
    <img src="../../assets/avatar.png">
  </ion-thumbnail>

  <ion-row class="photo-wrapper">
    <ion-button fill="clear">Add Photo</ion-button>
  </ion-row>

  <form [formGroup]="contactFormGroup" #contactFormGroupDirective="ngForm" (ngSubmit)="createContact(contactFormGroup.value)">
    <ion-list>
      <ion-item>
        <ion-input placeholder="Name" inputMode="text" clearInput="true" formControlName="name" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Last Name" inputMode="text" clearInput="true" formControlName="lastName" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Phone" inputMode="phone" clearInput="true" formControlName="phone" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Email" inputMode="email" clearInput="true" formControlName="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Category</ion-label>
        <ion-select placeholder="Select" formControlName="category">
          <ion-select-option value="Family">Family</ion-select-option>
          <ion-select-option value="Friend">Friend</ion-select-option>
          <ion-select-option value="Coworker">Coworker</ion-select-option>
          <ion-select-option value="Other">Other</ion-select-option>
        </ion-select>
      </ion-item>
    <ion-item lines="none">
      <ion-buttons>
        <ion-button type="submit" color="primary" [disabled]="!contactFormGroup.valid">Save</ion-button>
      </ion-buttons>
    </ion-item>
    </ion-list>

  </form>
</ion-content>
