.title {
  margin-inline: 5%;
  font-weight: bolder;
}

.edit-container {
  margin-top: 1%;
  margin-inline: 5%;
  padding-bottom: 16px;
}

.mat-form-field {
  width: 20rem !important;
}

.btn-edit-container {
  margin-top: 2%;
  padding-bottom: 16px;
}

.edit-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
