<div>
  <form [formGroup]="calculadoraForm" (submit)="processaCalculo()"  class="calculadora-form">
    <section>
      <mat-form-field class="calculadora-full-width" appearance="fill">
        <mat-label>Primeiro número</mat-label>
        <input matInput type="number" id="primerio-numero" formControlName="primeiroNumero" placeholder="Primeiro número" required>
        <mat-error *ngIf="primeiroNumero.errors?.['required']">
          <i style="color: red">campo obrigatório</i>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="calculadora-full-width" appearance="fill">
        <mat-label>Segundo Numero</mat-label>
        <input matInput type="number" id="segundo-numero" formControlName="segundoNumero" placeholder="Segundo número" required>
        <mat-error *ngIf="segundoNumero.errors?.['required']">
          <i style="color: red">campo obrigatório</i>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="calculadora-full-width" appearance="fill">
        <mat-label>Operador</mat-label>

        <mat-select formControlName="operador" required>
          <mat-option>None</mat-option>
          <mat-option *ngFor="let operador of operadoresView | keyvalue" [value]="operador.key">
            {{operador.value}}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="operador.pending">Validating...</mat-error>
        <mat-error *ngIf="operador.invalid" class="alert alert-danger operador-errors">
          <mat-error *ngIf="operador.errors?.['required']">
            <i style="color: red">campo obrigatório</i>
          </mat-error>
        </mat-error>
      </mat-form-field>
    </section>

    <section>
      <div class="calculadora-btn-label">Calcular</div>
      <div class="calculadora-btn-row">
        <button mat-raised-button color="primary" id="btnCalcula" type="submit" [disabled]="calculadoraForm.invalid">Processar</button>
      </div>
    </section>
  </form>

  <mat-divider></mat-divider>

  <section>
    resultado: {{resultado}}
  </section>
</div>
