<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Cliente</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item-group>
    <ion-item-divider>
      <ion-label>Dados Pessoais</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-note slot="start">ID</ion-note>
      <ion-label>{{ cliente.id }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-note slot="start">Nome</ion-note>
      <ion-label>{{ cliente.nome }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-note slot="start">Email</ion-note>
      <ion-label>{{ cliente.email }}</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-note slot="start">Telefone</ion-note>
      <ion-label>{{ cliente.telefone }}</ion-label>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>Endereço</ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-note slot="start">Logradouro</ion-note>
      <ion-label>{{ cliente.logradouro }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-note slot="start">Número</ion-note>
      <ion-label>{{ cliente.numero }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-note slot="start">Bairro</ion-note>
      <ion-label>{{ cliente.bairro }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-note slot="start">Cidade</ion-note>
      <ion-label>{{ cliente.cidade }}</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-note slot="start">CEP</ion-note>
      <ion-label>{{ cliente.cep }}</ion-label>
    </ion-item>
  </ion-item-group>

  <ion-row class="ion-justify-content-between">
    <ion-col size="4">
      <ion-button size="small" shape="round" color="tertiary" (click)="edit(cliente.id)">
        Editar
        <ion-icon slot="end" name="pencil-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button size="small" shape="round" color="danger" (click)="delete(cliente.id)">
        Excluir
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>
